.textoDescripcion{
	margin-top: auto;
	margin-bottom: auto;
}

.menuContenido a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

h1, h2, h3{
	font-family: 'Oswald', sans-serif;

}

li{
	font-size: 120%;
	font-family: 'Archivo Narrow', sans-serif;
}

p{
	margin-top: auto;
	margin-bottom: auto;
	font-size: 120%;
	font-family: 'Archivo Narrow', sans-serif;
}

.container-fluid{
	padding-right: 5%;
}


.descripcion{
	font-size: 120%;
	font-family: 'Archivo Narrow', sans-serif;
}

.navbar-brand{
	font-family: 'Oswald', sans-serif;
}

.nav-link{
	font-family: 'Archivo Narrow', sans-serif;
}

ul{
  list-style: none;
}

.affix{
  position: fixed;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: px;
  line-height: 40px;
    font-size:  15px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
  font-family: 'Archivo Narrow', sans-serif;

}
.sidebar-nav li a:hover {
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 15px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none; 
}