.textoDescripcion{
	margin-top: auto;
	margin-bottom: auto;
}

.menuContenido a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

p.pieDePagina{
  font-size: 100%;
  font-weight: bold;
}

h1.tituloDemo{
  font-size: 500%;
  font-family: 'Oswald', sans-serif;
}

h1, h2, h3{
	font-family: 'Oswald', sans-serif;

}

ul .sidebar-nav li{
	font-size: 120%;
	font-family: 'Archivo Narrow', sans-serif;
}

p{
	margin-top: auto;
	margin-bottom: auto;
	font-size: 120%;
	font-family: 'Archivo Narrow', sans-serif;
}

.container-fluid{
	padding-right: 5%;
}


.descripcion{
	font-size: 120%;
	font-family: 'Archivo Narrow', sans-serif;
}

.navbar-brand{
	font-family: 'Oswald', sans-serif;
}

.nav-link{
	font-family: 'Archivo Narrow', sans-serif;
}

.affix{
  position: fixed;
}

ul .sidebar-nav{
    list-style:none;
    white-space: nowrap;
    margin-bottom: -20rem;
}

.sidebar-brand{
  font-family: 'Archivo Narrow', sans-serif;
  
}

.sidebar-nav {
  position: absolute;
  top: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
}

.sidebar-nav li {
  text-indent: 2px;
  line-height: 30px;
  font-size:  15px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
  font-family: 'Archivo Narrow', sans-serif;

}
.sidebar-nav li a:hover {
  text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 45px;
  font-size: 20px;
  line-height: 50px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none; 
}