.textoDescripcion{
	margin-top: auto;
	margin-bottom: auto;
}

h1, h2{
	font-family: 'Oswald', sans-serif;

}

.container{
	width: 100%;
}


.container-fluid{
	padding-right: 8%;
}


.descripcion{
	font-size: 120%;
	font-family: 'Archivo Narrow', sans-serif;
}

.navbar-brand{
	font-family: 'Oswald', sans-serif;
}

.nav-link{
	font-family: 'Archivo Narrow', sans-serif;
}